@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/*
Imports should be at the very top.
Set general rules above 'body' with the * wildcard selector
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  color: #777777
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555555;
}

#logo {
  float: left;
  padding-left: 20px;
  font-size: 250%;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  float: right;
}

/*75px is a design choice - layout will be in multiples of 75 = 150, 300 900, 1200px*/
logo, #menu {
  line-height: 75px;
}

/*If you float the ul (#menu) to the right & the li to the left, this will preserve the list order*/
#menu li {
  margin-right: 30px;
  float: left;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

/*Visual aid for showing if text is a link*/
#menu a:hover {
  border-bottom: 1px solid #777777;
}

/*Visual aid for indicating the current page*/
.active {
  border-bottom: 1px solid #777777;
}

/*Hero image has animation
Images added to css have no alt info - this may be ok if it's used for decoration only*/
#hero-image {
  height: 600px;
  width: 100%;
  background: url("../img/sherise-vd-YmtGI-fBW70-unsplash.jpg") no-repeat center center;
  
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/*
1. Image scales up beyond the 600px height set for the section, but the overflow masks the resized image to produce a zoomed effect.
2. Parent of both cover-text & image is hero-outer section. Nedd to set its position relative, so that the child containers can set their absolute position relative to it.
*/
#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/*Use @keyframes for the animation*/
@keyframes hero-zoom {
  from{
    transform:scale(1);
  }
  to {
    transform:scale(1.1);
  }
}

#cover-text, #cover-text h2 {
  color: #ffffff;
}
#cover-text {
  font-size: 120%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(241, 109, 107, .7);

  bottom: 30px;
  right: 150px;

  position: absolute;
}

#club-ethos {
  height: 600px; /*same as hero section*/
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}
#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}
#center-about {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto; 
  /*there is no float:center, so this is the easiest option - note that this is the last div listed*/
}

hr {
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 50%; /*of parent div with class right-header ie 33% of entire screen*/
  float: right; /*want text to align with photo in middle*/
  line-height: 20px; /*for easy reading*/
  clear: both; /*to ensure each content block aligns vertically*/
  margin-bottom: 50px; /* set space between upper & lower content blocks */
}

.right-about-heading {
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

/* gives the impression of text curving around the central image */
.right-about-heading h2 {
  text-align: right;
}
.right-about-heading p {
  text-align: right;
}

#welcome {
  margin: 20px 0;
  text-align: center;
  font-size: 250%;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%; /* to make a circle */
  margin: 0 auto; /* centre the image */
}
#circle-cover-bg {
  background: url("../img/kim-carpenter-IHIgnhLvz5Q-unsplash-sm.jpg") no-repeat center center;
  height: 100%;
  border-radius: 50%;
} /* used a picture 300px x 300px */

#times {
  background-image: url("../img/k-mitch-hodge-znItvqcLmJA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times div {
  color: #fafafa;
  background-color: rgba(0,0,0,.6);
  width: 19%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  margin: 4px;
  
}
#times h2 {
  color: #fafafa;
}

footer {
  height: 150px;
}
.social-networks {
  text-align-last: center;
}
.social-networks li {
  display: inline;
}
.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #777777;
}
/* comment */